1-OlaMundo/main.exe
2-Variáveis/main.exe
3-Soma/main.exe
4-Condicionais/main.exe
3-Calculos/divisao.exe
3-Calculos/multiplicacao.exe
3-Calculos/soma.exe
3-Calculos/subtracao.exe
.vscode/settings.json
